<div class="container">

  <mat-card>
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content >
      <div class="m-3 col-lg-6">
    <form autocomplete="off"
     [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
        <mat-form-field class="mb-3">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field >
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <div class="button">
        <button type="submit" [disabled]="loginForm.invalid" mat-button>Login</button>
      </div>
      <br>
      <label> Not a member yet?. <a routerLink="/registrarse" >Sign up</a></label>
    </form>
  </div>
    </mat-card-content>
  </mat-card>
</div>
