


<div class="row">
  <h1>Info</h1>
  <div class="card " style="width: 18rem;" *ngFor="let movie of movies" >
    <img [src]="movie.image.url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text"><b>Resumen</b> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quas. Ipsum molestiae maiores ea nisi deleniti saepe accusamus incidunt necessitatibus, sapiente eum atque! Magnam quo perspiciatis accusantium doloribus, ad harum! </p>



    <br>
  </div>
</div>

